<h3> <%= link_to "Delete Your Account", user_path(current_user), method: :delete, data: { confirm: "Are you sure?" } %> </h3>

<h1>Edit User Profile</h1>

<%= render partial: "form", locals: { user: @user } %>
