<h2> Name: <%= link_to char.name, user_show_character_path(current_user, char.show.id, char.id) %> </h2>
<h3> Status: <%= char.status %> </h3>
<h3> Classification: <%= char.hero? %> </h3>
<h3> Notes: <%= char.note %> </h3>
<br>
