<% if object.errors.any? %>
  <h2> Whoops! </h2>
  <div id="error_explanation" class= "field_with_errors">
    <h2> <%= number_to_word(object.errors.size) %> <%= (pluralize(object.errors.size, "error")).split(' ')[1] %> prevented this object from being saved: </h2>
    <ul>
    <% object.errors.full_messages.each do |message| %>
      <li class = "error"> <%= message %> </li>
      <br>
    <% end %>
    </ul>
  </div>
<% end %>
