<% if object.errors.any? %>
  <h2> Whoops! </h2>
  <div id="error_explanation">
    <h2> <%= number_to_word(object.errors.count) %> error(s) prohibited this object from being saved: </h2>
    <ul>
    <% object.errors.full_messages.each do |message| %>
      <li style="color:red;"> <%= message %> </li>
      <br>
    <% end %>
    </ul>
  </div>
<% end %>
